* {
	margin: 0;
	padding: 0;
}

body {
	font-family: verdana;
  background-color: black;
}

h1 {
	text-align: center;
	font-size: 50px;
	letter-spacing: 3px;
	color: #20B2AA;
}

h3 {
  font-size: 15px;
  
}







header {
	height: 100px;
}

nav {
	background-color: #20B2AA;
	height: 30px;
}

section {   /*corps de la page*/
	
	height: 590px;
}

footer {
	
	height: 30px;
}

p {
	font-size: 19px;
  position: absolute;
	top: 30%;
	bottom: 20%;
	left: 45%;
	right: 4%;
	color: #20B2AA;
  text-align: center;
}

#pyke {  /*image de base*/
	width: 500px;
	height: 300px;
	border: 1px solid #20B2AA;
	margin: 15px;
	cursor: pointer;
	margin-top: 75px;
 
 

}

#pyke:hover { /*lorsque l'on passe la souris*/
	margin-top: 2px;
	transition: 0.5s;
	width: 600px;
	height: 350px;
	float: left;
  margin-top: 75px;
 
}

h2 {        
	position: absolute;
	top: 55%;
	left: 60%;
	color: #20B2AA;
	text-align: center;
  
  

}	




.connection {     /*menu connection admin*/
  color: #20B2AA;
  margin-left: 1205px;
  top: 6%;
  position: absolute;

}







.user_connected {
  color: #20B2AA;
  margin-left: 1120px;
  top: 6%;
  position: absolute;
  font-size: 15px;
  
}

.menu2 {
	text-align: center;
	float: left;
	width: 160px;
	margin-left: 170px;
	margin-top: 5px;
}

a {
	color: black;
}

#friseA,#frise1,#frise2,#frise3 {   /*essai de factorisation*/
	size: 12px;
	position: absolute;
	color: #20B2AA;
  
  
}




#friseA {         
top:  75%;
bottom: 65%;
left: 30px;
opacity: 0;
transition: opacity 1s; /*transi qd sa change d'opacité*/
}


#description1 {
  color: #C0C0C0;
  position: absolute;
  text-align: center;
  box-shadow: 0 0 8px #88D5E9;
  transition: opacity 1s; /*transi qd sa change d'opacité*/
}


#date1 {
  position: absolute;   /*date ds les cercles*/
  margin-left: 7px;
  margin-top: 18px;
  transition: opacity 1s; /*transi qd sa change d'opacité*/
}

#frise1 {
top:  75%;
bottom: 65%;
left: 11.5%;
opacity: 0;
transition: opacity 1s; /*transi qd sa change d'opacité*/

}

#description2 {
  color: #C0C0C0;
  position: absolute;
  text-align: center;
  box-shadow: 0 0 8px #88D5E9;
  transition: opacity 1s; /*transi qd sa change d'opacité*/
}

#frise2 {
top:  75%;
bottom: 65%;
left: 21.5%;
opacity: 0;
transition: opacity 1s; /*transi qd sa change d'opacité*/
}

#date2 {
  position: absolute;   /*date ds les cercles*/
  margin-left: 7px;
  margin-top: 18px;
  transition: opacity 1s; /*transi qd sa change d'opacité*/
}

#description3 {
  color: #C0C0C0;
  position: absolute;
  text-align: center;
  box-shadow: 0 0 8px #88D5E9;
  transition: opacity 1s; /*transi qd sa change d'opacité*/
}

#frise3 {
top:  75%;
bottom: 65%;
left: 31.5%;
opacity: 0;
transition: opacity 1s; /*transi qd sa change d'opacité*/
}

#date3 {
  position: absolute;   /*date ds les cercles*/
  margin-left: 7px;
  margin-top: 18px;
  transition: opacity 1s; /*transi qd sa change d'opacité*/
}

#description4 {
  color: #C0C0C0;
  position: absolute;
  text-align: center;
  box-shadow: 0 0 8px #88D5E9;
  transition: opacity 1s; /*transi qd sa change d'opacité*/
}


#date4 {
  position: absolute;   /*date ds les cercles*/
  margin-left: 7px;
  margin-top: 18px;
  transition: opacity 1s; /*transi qd sa change d'opacité*/
}


.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.menu1 {
	float: right;
	margin-top: 5px;
	margin-right: 290px;
}

.timeline {
  width: 500px;
  margin-left: 35px;
  bottom: 1%;
  position: absolute;
  margin-bottom: 30px;
  margin-left: 55px;
  


}


#carre {           /*ligne de la frise*/
  width: 530px;
	height: 10px;
  background-color: #20B2AA;
  
 
 
}


#cercle1 {                /*les positions absolutes servent à la superposition des éléments*/
  width: 60px;
  height: 60px;
  border-radius: 40px;
  background: #20B2AA;
  margin-left: 20px;
  margin-bottom: 25px;
  position: absolute;
  box-shadow: 0 0 8px #88D5E9;
  cursor: pointer;
  margin-top: 55px;
  
  
}

#cercle1:hover {
  background: white;
}


#cercle2 {
  width: 60px;
  height: 60px;
  border-radius: 40px;
  background: #20B2AA;
  margin-left: 165px;
  position: absolute;
  box-shadow: 0 0 8px #88D5E9;
  cursor: pointer;
  margin-top: 55px;
}
#cercle2:hover {
  background: white;
}

#cercle3 {
  width: 60px;
  height: 60px;
  border-radius: 40px;
  background: #20B2AA;
  margin-left: 320px;
  position: absolute;
  box-shadow: 0 0 8px #88D5E9;
  cursor: pointer;
  margin-top: 55px;
  
}
#cercle3:hover {
  background: white;
}

#cercle4 {
  width: 60px;
  height: 60px;
  border-radius: 40px;
  background: #20B2AA;
  margin-left: 470px;
  position: absolute;
  box-shadow: 0 0 8px #88D5E9;
  cursor: pointer;
  margin-top: 55px;
  
  
}
#cercle4:hover {
  background: white;
}

#triangle {         /*flèche*/
  width: 0;      
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 30px solid #20B2AA;
  margin-left: 570px;
  margin-top: 7px;
  position: absolute;
  margin-top: 65px;
  
}


#credits {                     /*credits ds le footer*/
  color: #20B2AA;
  font-size: 10px;
  text-align: center;
  margin-bottom: 1px;
  margin-top: 230px;
  
 
}


/*partie menu burger*/   /*a faire : passer le fond en noir apres anim*/ 
/* est-ce possible de m'envoyer un mail avec une solution?*/

nav .menu-btn {   /*icone menu burger*/
  width: 28px;
  float: right;
  cursor: pointer;
  margin-bottom: 1px;
  

}


nav .close-button {   /*croix menu burger*/
  width: 18px;
  float: right;
  cursor: pointer;
  opacity: 0;
  margin-top: 6px;


}

nav ul {      /*anim nav ou elle se désaffiche et se réaffiche avc les menus de la nav qui s'affichent à l'horizontale*/
  list-style-type: none;
  margin: 10% auto 0 auto;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4;
  grid-template-columns: repeat(4, auto);
  width: 80%; 
}

nav ul a {
  color: #20B2AA;
  font-weight: bold; /* titres menu burger*/
  font-size: 1.4em;
  text-decoration: none;
}

nav ul span {
  color: #C0C0C0;
  display: block;
  font-size: .75em;	/*sous titres menu burger*/
  margin-top: 20px;
 
}

nav ul li {			/*menu burger préanimation*/
  opacity: 0;
}

.show-menu {        /*anim réafichage*/     
  display: block;
  -webkit-animation: slide-menu 1s ease-in forwards;
          animation: slide-menu 1s ease-in forwards;
}

.show-menu .close-button {    /*apparition croix*/
  -webkit-animation: show-x 1s 1s forwards;
          animation: show-x 1s 1s forwards;
}
.show-menu .menu-btn { /*disparition icone menu burger*/
  opacity: 0;
}


.show-menu .menu1 {  
  margin-left: 20px; 
}



 /*apparition des 4 menus du menu burger*/
.show-menu li:nth-of-type(1) {
  -webkit-animation: menu-item-anim .6s forwards 1s ease-in-out;
          animation: menu-item-anim .6s forwards 1s ease-in-out;
}

.show-menu li:nth-of-type(2) {
  -webkit-animation: menu-item-anim .6s forwards 1.2s ease-in-out;
          animation: menu-item-anim .6s forwards 1.2s ease-in-out;
}

.show-menu li:nth-of-type(3) {
  -webkit-animation: menu-item-anim .6s forwards 1.6s ease-in-out;
          animation: menu-item-anim .6s forwards 1.6s ease-in-out;
}

.show-menu li:nth-of-type(4) {
  -webkit-animation: menu-item-anim .6s forwards 1.8s ease-in-out;
          animation: menu-item-anim .6s forwards 1.8s ease-in-out;
}

/*code de l'anim du menu burger a retaper 
le menu apparait pendant l'anim de la nav */

@-webkit-keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

  /*lightmode/darkmode*/

.btn-toggle {
    position: absolute;
    top: 12px;
    margin-left: 1590px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: black;
    color: white;
    border: 2px solid #20B2AA;
    display: flex;
    justify-content: center;
    align-items: center;    
    cursor: pointer;
}

body.light {      
   color: black;
   background: black;
}

body.dark {      
   color: black;
   background: white;
}



/*bouton nightmode*/
body.dark .btn-toggle {
    background: white;
    color: black;
}



body.dark .btn-toggle:hover {
  box-shadow: 0 0 8px #88D5E9;
  
}


body.light .btn-toggle:hover {
  box-shadow: 0 0 8px #88D5E9;
  
}











/*Responsive Homepage iphone X*/
@media screen and (max-width: 800px) {
 
  .btn-toggle { 
    margin-left: 1000px;

  }



 .timeline{
  display: none;

 
 }

#triangle {
  margin-bottom: 860px;
  position: relative;
  margin-left: 900px;
  margin-top: 300px;
  opacity: 0;
  
  
  
}


#cercle1 {
  margin-left: 200px;
  
}

#cercle2 {
  margin-left: 400px;
}

#cercle3 {
  margin-left: 600px;
}
#cercle4 {
  margin-left: 800px;
}

  h1 {
    
    display: center;
    margin-left: 375px;
  }


#credits {
  margin-right: 380px;
  margin-bottom: 50px;
}
 

  body {
    width: 375px;
    size: 1912px;
  }
    
    header {
  background-color: black;
  width: 800px;
}

  nav {  /* barre de navigation*/
  background-color: #20B2AA;
  width: 1159px;
  height: 50px;
}

  section {  
  background-color: black;
  width: 750px;
  height: 1070px;
}
  footer {
  background-color: black;
  width: 1500px;
  height: 850px;
  }


  #pyke {     /* image pyke*/
    
    margin-left: 360px;
    margin-right: 60px;
    margin-top: 30px;
    width: 540px;
    height: 300px;
    margin-top: 95px;
  
  }

  .pyke:hover { /* image lorsque l'on passe la souris*/
  margin-top: 2px;
  transition: 0.5s;
  width: 340px;
  height: 300px;
  float: left;
  margin-top: 75px;
}

  .timeline {    /* img frise*/
  
  margin-bottom: 5px;
  width: 810px;
  height: 80px;
  margin-left: 45px;
  
  

}

  #menu {   /* menus nav*/
    
    margin-left: 15px;
    position: absolute;
    
  }

  .menu1 {    /*menus nav */
    margin-right: 40px;
    
    margin-left: 10px;
    
  }

  .menu2 {    /* menus nav*/
  float: left;
  
  }
  
  #friseA  {    /* date frise*/
    float: left;
     margin-top: 1000px;
    margin-left: 90px;
  }

   #frise1  {   /* date frise */
    float: left;
    margin-top: 1000px;
    margin-left: 300px;
  }

   #frise2 {    /*  date frise */
    float: left;
     margin-top: 1000px;
    margin-left: 510px;
  }

   #frise3 {   /* date frise */
    float: left;
    margin-top: 1000px;
    margin-left: 720px;
  }

  p {    /* texte */
    
    font-size: 15,5px;
    margin-top: 390px;
    padding-top: 20px;
    text-align: center;
    padding-right: 0px;
    margin-right: 0px;
    
    

    
  }

  h2 {   /* texte en gras*/
    padding-top: 320px;
    font-size: 35px;
    margin-left: 440px;
  }

 


  .open-menu {     /*menu burger buggé à droite en bas de la nav*/
     
     position: absolute;
     margin-bottom: 5px;
     margin-right: 500px;
  }



.btn-toggle { 

  margin-right: 100px;


}


}